.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav {
  list-style: none;
  font-size: 30px;
  color: #242424;
  text-decoration: none;
}
