.field {
  width: 800px;
  height: 40px;
  margin: 15px;
  border-radius: 6px;
  border: 2px solid rgb(24, 3, 11);
}

.form {
  position: relative;
}

.btn {
  border: 2px solid rgb(55, 30, 39);
  align-items: center;
  justify-content: center;
  margin: 0;
}
